<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HotDesk: Main Page</title>
    <link
      rel="shortcut icon"
      href="/images/workplace.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/mainPanelCss/bookingPage.css" />
    <script> window.allDesks = JSON.parse(decodeURIComponent("<%= encodeURIComponent(JSON.stringify(allDesks)) %>")); </script>
    <script src="/js/mainPanelScripts/bookingPage.js" defer></script>
  </head>
  <body>
    <main class="container">
      <%- include('navigationPanel.ejs') %>
      <section class="main">
        <div class="formContainer">
          <form class="form" method="post" action="">
            <h1 class="header">Book Your Desk</h1>
              <div class="input">
                <label for="bookingDate">Date:</label>
                <input
                  type="date"
                  name="bookingDate"
                  id="bookingDate"
                  placeholder=""
                  required
                />
              </div>
              <div id="errorBookingDate" class="error"></div>
              <div class="input">
                <label for="bookingTime">Time:</label>
                <select id="bookingTime" name="bookingTime">
                  <option value="default" selected>-- time --</option>
                  <option value="8:00">8:00</option>
                  <option value="9:00">9:00</option>
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                  <option value="13:00">13:00</option>
                  <option value="14:00">14:00</option>
                  <option value="15:00">15:00</option>
                  <option value="16:00">16:00</option>
                  <option value="17:00">17:00</option>
                </select>
              </div>
              <div id="errorBookingTime" class="error"></div>
            <div class="input">
              <label for="floor">Desk at Floor:</label>
              <select id="floor">
                <option value="default" selected>-- floor --</option>
                <% const uniqueFloors = [...new Set(allDesks.map(desk => desk.floor))].sort((a, b) => a - b); %>
                  <% for (let i=0; i<uniqueFloors.length; i++) { %>
                    <option value="<%= uniqueFloors[i] %>" label="<%= uniqueFloors[i] %>"></option>
                <% } %>
              </select>
            </div>
            <div id="errorFloor" class="error"></div>
            <div class="input">
              <label for="desk">Desk:</label>
              <select id="desk" name="idDesk">
                <option value="default" selected>-- desk --</option>
              </select>
            </div>
            <div id="errorDesk" class="error"></div>
            <div class="bookButton">
              <button type="submit" id="btnBook" class="btnBook">
                Book
              </button>
            </div>
          </form>
          <div class="info"><%= info %></div>
        </div>
      </section>
    </main>
  </body>
</html>
